
html, body {
    height: 100%;
    overflow: hidden;
}
body {
    width:960px;
    margin-top: 20px;
    margin-left:auto;
    margin-right:auto;
    font-size:12px;
}


.ylabel, .xlabel {
    fill: #999;
}

.axis text,
.axis-days text,
.axis-weeks text,
.axis-months text ,
.axis-minutes text {
    fill: #999;
}

.y.axis path,
.y.axis line {
    stroke-width: 1;
    stroke: #f8f8f8;
}
.y.axis.dayheat path,
.y.axis.dayheat line {
    stroke-width: 1;
    stroke: #f8f8f8;
}
.x.axis-minutes path,
.x.axis-minutes line {
    stroke-width: 1;
    stroke: #eee;
}

.axis path,
.axis line,
.axis-days path,
.axis-days line,
.axis-weeks path,
.axis-weeks line,
.axis-months path,
.axis-months line,
.axis-minutes path,
.axis-minutes line {
    fill: none;
}
.axis path,
.axis line,
.axis-days path,
.axis-days line {
    stroke-width: 1;
    stroke: #eee;
}
.axis-weeks path,
.axis-weeks line {
    stroke-width: 2;
    stroke: #eee;
}
.axis-months path,
.axis-months line {
    stroke-width: 3;
    stroke: #eee;
}
